<div class="card m-3">
  <h5 class="card-header">Créer un étudiant</h5>
  <div class="card-body">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-5">
          <label>Prénom</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form['firstName'].errors }"
          />
          @if (submitted && form['firstName'].errors) {
            <div class="invalid-feedback">
              @if (form['firstName'].errors?.['required']) {
                <div>First Name is required</div>
              }
            </div>
          }
        </div>
        <div class="form-group col-5">
          <label>Nom</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form['lastName'].errors }"
          />
          @if (submitted && form['lastName'].errors) {
            <div class="invalid-feedback">
              @if (form['lastName'].errors?.['required']) {
                <div>Last Name is required</div>
              }
            </div>
          }
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['email'].errors }"
        />
        @if (submitted && form['email'].errors) {
          <div class="invalid-feedback">
            @if (form['email'].errors?.['required']) {
              <div>Email is required</div>
            }
          </div>
        }
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary mr-1">Créer</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
