<h1 class="title-case">La liste des étudiants</h1>

<table>
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>

      <td>
        <a [routerLink]="['/detail', student.id]">
        <button type="button">Détail</button>
        </a>
      </td>
      <td>
        <a [routerLink]="['/edit', student.id]">
        <button type="button">Modifier</button>
        </a>
      </td>
            <td class="text-center">
        <button type="button" class="btn-delete" (click)="delete(student.id)">Supprimer</button>   
      </td>
  </tbody>
</table>
  <div class="return-dashboard">
  <h2>Retourner au Dashboard</h2>
      <a routerLink="/dashboard">
      <button>Dashboard</button>
      </a>
  </div>